
nav div.container {
  margin: 0;
  padding-left: 25px;
  padding-right: 25px;
}


.navbar-brand {
  text-align: left;
  padding-top: 25px;
  margin-bottom: 10px;
}

#section-para {
  /*margin: 20px 20px 20px 20px;*/
  background-color: lightyellow;
}

#header-nav {
  background-color: lightblue;
  border-radius: 0;
  border: 0;
}

#nav-list {
  margin-top: 0;
  margin-bottom: 0;
}

#nav-list a {
  color: blue;
  text-align: center;
}

#nav-list a:hover {
  background: grey;
}

.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -45px;
}

#collapsable-nav {
  border: 0;
}

#collapsable-nav a {
  font-size: 1.2em;
  padding-top: 10px;
  padding-bottom: 10px;
}

.nav-hr {
  padding: 0;
  margin: 0;
}

#menu-header {
  margin-top: 10px;
  padding-bottom: 20px;
}
