* {
    box-sizing: border-box;
}

/* Simple Responsive Framework. */
    
    h1 {
        text-align: center;
        font-size: 175%;
        font-weight: bold;
        margin-bottom: 15px;
    }
    
    .row {
      width: 100%;
    }
    
    div {
        position: relative;
    }
    
    section {
        position: relative;
        background-color: lightblue;
        border: 1px solid black;
        margin: 5px;
    }
    
    .section-title {
        font-size: 125%;
        font-weight: bold;
        text-align: center;
        position: relative;
        left: 75%;
        width: 25%;
        border: 1px solid black;
        margin-bottom: 15px;
    }
    
    .section-text {
        padding: 5px;
    }
    
    #st1 {
        background-color: green;
    }
    
    #st2 {
        background-color: yellow;
    }
    
    #st3 {
        background-color: red;
    }
    
    /********** Large devices only **********/
    @media (min-width: 992px) {
      .col-lg-1,
      .col-lg-2,
      .col-lg-3,
      .col-lg-4,
      .col-lg-5,
      .col-lg-6,
      .col-lg-7,
      .col-lg-8,
      .col-lg-9,
      .col-lg-10,
      .col-lg-11,
      .col-lg-12 {
        float: left;
      }
      .col-lg-1 {
        width: 8.33%;
      }
      .col-lg-2 {
        width: 16.66%;
      }
      .col-lg-3 {
        width: 25%;
      }
      .col-lg-4 {
        width: 33.33%;
      }
      .col-lg-5 {
        width: 41.66%;
      }
      .col-lg-6 {
        width: 50%;
      }
      .col-lg-7 {
        width: 58.33%;
      }
      .col-lg-8 {
        width: 66.66%;
      }
      .col-lg-9 {
        width: 74.99%;
      }
      .col-lg-10 {
        width: 83.33%;
      }
      .col-lg-11 {
        width: 91.66%;
      }
      .col-lg-12 {
        width: 100%;
      }
    }
    
    /********** Medium devices only **********/
    @media (min-width: 768px) and (max-width: 991px) {
      .col-md-1,
      .col-md-2,
      .col-md-3,
      .col-md-4,
      .col-md-5,
      .col-md-6,
      .col-md-7,
      .col-md-8,
      .col-md-9,
      .col-md-10,
      .col-md-11,
      .col-md-12 {
        float: left;
      }
      .col-md-1 {
        width: 8.33%;
      }
      .col-md-2 {
        width: 16.66%;
      }
      .col-md-3 {
        width: 25%;
      }
      .col-md-4 {
        width: 33.33%;
      }
      .col-md-5 {
        width: 41.66%;
      }
      .col-md-6 {
        width: 50%;
      }
      .col-md-7 {
        width: 58.33%;
      }
      .col-md-8 {
        width: 66.66%;
      }
      .col-md-9 {
        width: 74.99%;
      }
      .col-md-10 {
        width: 83.33%;
      }
      .col-md-11 {
        width: 91.66%;
      }
      .col-md-12 {
        width: 100%;
      }
    }